<div class="pt-8 pb-30p lg:pt-58p lg:pb-73p bg-white">
    <div class="container">
      <div class="border-t-1 border-t-gray-3 relative before:absolute before:top-0 before:left-1/2 before:-translate-x-1/2 before:w-[156px] lg:before:w-[204px] before:h-[1px] before:bg-dark-charcoal py-4 lg:py-18p">
	  	<div class="text-center max-w-[627px] mb-26p mx-auto lg:mb-16">
			<h4 class="mb-26p lg:mb-38p">Recognition</h4>

			<p>Our unique value proposition, including our success in distributing investment opportunities, has resulted recognition across the industry.</p>
		</div>

		<div class="slider-awards js-slider-awards swiper">
			<div class="slider__slides swiper-wrapper md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-x-5 md:gap-y-[30px]">
				<div class="slider__slide swiper-slide md:col-span-2 lg:col-span-1 lg:row-span-3">
					<div class="text-center">
						<figure class="w-[180px] mx-auto mb-8">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div>
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<h4 class="md:max-w-[60%] lg:max-w-[80%] 2xl:max-w-[60%] md:mx-auto">M&A Adviser of the Year</h4>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->

				<div class="slider__slide swiper-slide">
					<div class="text-center lg:text-left lg:flex lg:gap-6 lg:items-center">
						<figure class="w-[180px] lg:w-[90px] mx-auto text-center">
							<img src="/dist/images/award-image.png" alt="award" class="w-full">
						</figure>

						<div class="py-21p flex-1">
							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">Winner</strong>

							<p>M&A Adviser of the Year</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase inline-block text-green">2022</strong>
						</div>
					</div>
				</div><!-- /.slider__slide -->
			</div><!-- /.slider__slides -->

			<div class="swiper-pagination"></div>
		</div><!-- /.slider js-slider -->
      </div>
    </div>
  </div>