<div class="bg-white py-11 lg:pt-88p lg:pb-92p">
	<div class="container">
		<div class="lg:flex border-t-1 border-t-gray-2 relative before:absolute before:top-0 before:left-0 before:w-[130px] lg:before:w-[271px] before:h-[2px] before:bg-gray-2 pt-4 lg:pt-50p">
			<div class="mb-11 lg:mb-0 w-full lg:max-w-[300px] xl:max-w-[353px] lg:pr-6 xl:pr-11 lg:pt-0.5">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-26p lg:mb-22p inline-block">Our TEAM TOGETHER</strong>			

				<p class="mb-6 lg:mb-7">[[Marathon Capital has extensive, <br>first-hand experience in servicing <br>the financial and strategic needs <br>of a wide range of clients.]]<p>
				
				<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-apparat font-bold leading-1.64 transition duration-100">SEE ALL NEWS</a>
			</div>
	
			<div class="flex-1 grid gap-11 lg:grid-cols-2 lg:gap-2 lg:gap-y-[73px]">
				<div>
					<figure class="aspect-[44/25] lg:aspect-[257/153] overflow-hidden">
						<img src="/dist/images/team-image-1.png" alt="team-image-1" class="w-full h-full object-cover">
					</figure>

					<span class="block pt-5 pb-3 lg:pt-9 lg:pr-16">
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 inline-block lg:mb-1.5">POSIGEN</strong>

						<p>Lorem ipsum dolor sit amet nonummy adipscing. Sit amet nonummy adipscing. Lorem ipsum lorem ipsum dolor sit amet nonummy adipscing.</p>
					</span>
				</div>

				<div>
					<figure class="aspect-[44/25] lg:aspect-[257/153] overflow-hidden">
						<img src="/dist/images/team-image-2.png" alt="team-image-1" class="w-full h-full object-cover">
					</figure>

					<span class="block pt-5 pb-3 lg:pt-9 lg:pr-16">
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 inline-block lg:mb-1.5">BEACH CLEANUP</strong>

						<p>Lorem ipsum dolor sit amet nonummy adipscing. Sit amet nonummy adipscing. Lorem ipsum lorem ipsum dolor sit amet nonummy adipscing.</p>
					</span>
				</div>

				<div>
					<figure class="aspect-[44/25] lg:aspect-[257/153] overflow-hidden">
						<img src="/dist/images/team-image-1.png" alt="team-image-1" class="w-full h-full object-cover">
					</figure>

					<span class="block pt-5 pb-3 lg:pt-9 lg:pr-16">
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 inline-block lg:mb-1.5">CYCLE FOR SURVIVAL</strong>

						<p>Lorem ipsum dolor sit amet nonummy adipscing. Sit amet nonummy adipscing. Lorem ipsum lorem ipsum dolor sit amet nonummy adipscing.</p>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>