<div class="lg:flex text-black">
	<div class="w-full py-12 lg:max-w-[49.5%] flex items-center justify-center text-white relative aspect-[393/414] md:aspect-auto md:py-72p">
		<figure class="absolute top-0 left-0 w-full h-full before:absolute before:top-0 before:left-0 before:w-full before:h-full before:mix-blend-multiply before:z-1 before:bg-gradient-to-b before:from-dark-green-3-opacity-40 before:to-transparent after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-dark-green after:opacity-[.65] after:z-1">
			<img src="/dist/images/image-2.png" alt="content-stat-global-image" class="absolute top-0 left-0 w-full h-full object-cover">
		</figure>

		<div class="inline-block text-center relative z-1">
			<h1 class="font-apparat-light font-thin text-194 leading-[0.9em]">XX</h1>

			<p class="max-w-[280px] mx-auto text-19 leading-1.28 tracking-0.579p">Languages spoken by members of our team</p>
		</div>
	</div>

	<div class="bg-yellow py-12 px-5 pr-8 flex-1 lg:py-72p lg:px-60p">
		<div class="border-t-1 border-t-gray-3 relative before:absolute before:top-0 before:left-0 before:w-[128px] lg:before:w-[133px] before:h-[1px] before:bg-dark-charcoal pt-18p lg:pt-26p lg:pr-20">
			<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-10 lg:mb-201p inline-block">Our Expertise</strong>
			
			<h3 class="mb-6 lg:mb-7">Lorem ipsum de dolor sit amet</h3>

			<p class="mb-26p lg:mb-47p">Sentence about familiarity with the complexities of different legal and regulatory environments, understand how the markets work in different countries. Sentence about familiarity with the complexities of different legal and.</p>

			<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button min-w-[163px]">READ MORE</a>
		</div>
	</div>
</div>