<div class="mb-10 last:mb-0 lg:mb-24 flex flex-col gap-[33px] lg:gap-[45px] items-start">
    <div class="relative w-full max-w-[446px] aspect-[1/1] lg:order-last">
        <img src="/dist/images/image-1.png" alt="image-1" class="absolute top-0 left-0 w-full h-full object-cover">
    </div>

    <div>
        <strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-3.5 lg:mb-5 inline-block">Our Services</strong>
        
        <h4 class="mb-47p lg:mb-5">With deep expertise in a variety of financial solutions, we can structure innovative transactions tailored to specific needs.</h4>
        
        <ul class="mb-35p md:max-w-[70%] lg:mb-5">
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">M&A</li>
        
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">Equity Capital Markets</li>
        
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">Debt Capital Markets</li>
        
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">Tax Equity</li>
        
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">Offtake Advisory</li>
        
            <li class="py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 border-t-1 border-t-gray-3 font-medium tracking-0.6p">Energy Transition Advisory</li>
        </ul>
        
        <a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">OUR SERVICES</a>
    </div>
</div>
