<div class="text-black bg-green-5 py-10 pb-67p lg:pt-77p lg:pb-54p">
	<div class="container">
		<div>
			<div class="lg:text-center border-t-1 border-t-gray-3 relative before:absolute before:top-0 before:left-0 lg:before:left-1/2 lg:before:-translate-x-1/2 before:w-[137px] lg:before:w-[200px] before:h-[1px] before:bg-dark-charcoal py-5 pr-5 mb-2.5 lg:pr-0 lg:pt-4 lg:mb-11">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-6 inline-block">OUR GLOBAL PRESENCE</strong>

				<h4 class="mb-18p">Headline lorem ipsum dolor sit.</h4>

				<p class="mb-26p lg:max-w-[500px] lg:mx-auto lg:mb-6">Our global reach delivers the relationships necessary to secure optimal financing structures and strategic partnerships for our clients.</p>

				<div class="flex items-center lg:justify-center gap-2.5">
					<i class="text-green w-7 h-7 lg:w-10 lg:h-10">
						<svg width="100%" height="100%" viewBox="0 0 38 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<ellipse cx="18.9978" cy="20.0399" rx="6.78488" ry="6.84461" fill="currentColor"/>
							<path d="M37.4953 20.0399C37.4953 30.3524 29.2095 38.7048 18.9977 38.7048C8.78581 38.7048 0.5 30.3524 0.5 20.0399C0.5 9.72742 8.78581 1.375 18.9977 1.375C29.2095 1.375 37.4953 9.72742 37.4953 20.0399Z" stroke="currentColor"/>
						</svg>
					</i>

					<strong class="font-bold tracking-1.655p leading-1.64 text-sm uppercase inline-block">MARATHon PRESENCE</strong>
				</div>
			</div>

			<div class="lg:flex lg:flex-row-reverse lg:justify-center lg:gap-16">
				<div class="flex-1 mb-7 relative">
					<figure>
						<img src="/dist/svg/map-global.svg" alt="map-global">
					</figure>

					<ul>
						<li class="js-global-map-pin group/pin absolute top-[11.8%] left-[10.6%] [&.is-active]:scale-150 transition duration-100" data-map="place-1">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[18.8%] left-[5.7%] [&.is-active]:scale-150 transition duration-100" data-map="place-2">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[20.6%] left-[16%] [&.is-active]:scale-150 transition duration-100" data-map="place-3">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>									
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[22%] left-[21.3%] [&.is-active]:scale-150 transition duration-100" data-map="place-4">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[29.4%] left-[4.3%] [&.is-active]:scale-150 transition duration-100" data-map="place-5">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[32.5%] left-[10.8%] [&.is-active]:scale-150 transition duration-100" data-map="place-6">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[52.3%] left-[17.1%] [&.is-active]:scale-150 transition duration-100" data-map="place-7">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>

						<li class="js-global-map-pin group/pin absolute top-[61%] left-[26.3%] [&.is-active]:scale-150 transition duration-100" data-map="place-8">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[77%] left-[22.9%] [&.is-active]:scale-150 transition duration-100" data-map="place-9">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[26.8%] left-[43.3%] [&.is-active]:scale-150 transition duration-100" data-map="place-10">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[49.3%] left-[54.6%] [&.is-active]:scale-150 transition duration-100" data-map="place-11">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[31.2%] left-[65.8%] [&.is-active]:scale-150 transition duration-100" data-map="place-12">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[11.8%] left-[70.6%] [&.is-active]:scale-150 transition duration-100" data-map="place-13">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
						
						<li class="js-global-map-pin group/pin absolute top-[24.7%] left-[85.9%] [&.is-active]:scale-150 transition duration-100" data-map="place-14">
							<span class="text-green group-[.is-active]/pin:text-white transition-colors duration-100">
								<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<ellipse cx="16.7112" cy="17.1125" rx="5.96512" ry="5.93182" fill="currentColor"/>
									<path d="M32.9144 17.113C32.9144 26.0072 25.663 33.2221 16.7121 33.2221C7.76115 33.2221 0.509766 26.0072 0.509766 17.113C0.509766 8.21883 7.76115 1.00391 16.7121 1.00391C25.663 1.00391 32.9144 8.21883 32.9144 17.113Z" stroke="currentColor"/>
								</svg>
							</span>
						</li>
					</ul>
				</div>

				<div class="w-full lg:max-w-[290px]">
					<ul class="w-full grid gap-x-2.5 grid-cols-2 lg:grid-cols-1 lg:gap-0">
						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-1">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-2">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-3">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-4">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-5">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-6">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-7">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-8">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-9">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-10">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-11">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-12">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-13">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>

						<li class="js-global-map-link border-t-1 border-t-gray-3 hover:bg-white [&.is-active]:bg-white transition-colors duration-100" data-map="place-14">
							<span class="block py-7p pt-1.5 group-[.os-not-mac]/body:pt-2 group-[.os-not-mac]/body:pb-1 px-5p text-sm tracking-0.525p leading-1.43">Cityname, Country</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>