<div class="overflow-hidden pt-4 pb-14 lg:pt-0 lg:pb-28 lg:-mt-15p">
	<div class="container">
		<div class="flex flex-col lg:flex-row lg:items-start">
			<div class="contents lg:block flex-1">
				<div class="lg:px-12 lg:text-right lg:pt-[220px] lg:pb-[159px]">
					<h2 class="mb-22p lg:mb-0">Our Values</h2>
				</div>

				<figure class="lg:-mr-[266px] order-last aspect-[351/212] lg:aspect-[915/553]">
					<img src="/dist/images/content-detail-who-image.png" alt="content-detail-who-image" class="w-full h-full object-cover">
				</figure>
			</div>

			<div class="bg-dark-green text-white p-30p mb-2.5 lg:mb-0 lg:py-52p lg:pb-76p lg:px-12 lg:max-w-[726px]">
				<div class="border-t-1 border-t-gray-5 pt-9p pb-31p">
					<h4 class="mb-9p">Respect</h4>

					<p class="lg:leading-1.56">We listen carefully. We value diversity and recognize both the potential and the actual achievements of our colleagues, clients and partners.</p>
				</div>

				<div class="border-t-1 border-t-gray-5 pt-9p pb-31p">
					<h4 class="mb-9p">Integrity</h4>

					<p class="lg:leading-1.56">We adhere to the highest ethical standards and remain focused, honest, open and direct.</p>
				</div>

				<div class="border-t-1 border-t-gray-5 pt-9p pb-31p">
					<h4 class="mb-9p">Teamwork</h4>

					<p class="lg:leading-1.56">We prioritize a collaborative environment where we rely on one another to incorporate the firm’s long-term purpose and values into our individual and collective behavior.</p>
				</div>

				<div class="border-t-1 border-t-gray-5 pt-9p pb-31p">
					<h4 class="mb-9p">Ownership</h4>

					<p class="lg:leading-1.56">We are owners of the firm committed to delivering on every promise we make to our clients, counterparties, teammates and ourselves</p>
				</div>

				<div class="border-t-1 border-t-gray-5 pt-9p pb-2.5">
					<h4 class="mb-9p">Curiosity</h4>

					<p class="lg:leading-1.56">We foster innovation, provide new perspectives and bring creative solutions to our firm and our clients</p>
				</div>
			</div>
		</div>
	</div>
</div>