<section class="bg-dark-green pt-10 pb-70p lg:pt-49p lg:pb-60p text-white">
	<div class="container">
		<div class="lg:flex border-t-1 border-t-gray-2 relative before:absolute before:-top-px before:left-0 before:w-[130px] lg:before:w-[213px] before:h-[2px] before:bg-gray-2 pt-4 lg:pt-7">
			<div class="lg:max-w-[448px] mb-10">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-26p lg:mb-10 inline-block">WHO WE’RE LOOKING FOR</strong>

				<p class="mb-26p lg:mb-30p">Our team’s diversity of backgrounds including finance, commercial banking, investment banking, engineering, utility management, and government policy, as well as our sole global focus on the clean economy, creates a unique culture for mission driven people to join and thrive in. </p>

				<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button">SEE OPEN POSITIONS</a>
			</div>

			<div class="flex-1 lg:pt-88p">
				<div class="lg:-ml-[168px]">
					<figure class="w-full">
						<img src="/dist/images/content-details-careers-image.png" alt="content-details-careers-image" class="w-full h-full">
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>