<div class="pb-6">
	<div class="container">
		<div class="border-t-1 border-t-gray-6 relative before:absolute before:top-0 before:left-0 before:w-[130px] before:h-[2px] before:bg-gray-6 pt-4 lg:pt-26p">
			<div class="lg:max-w-[50%]">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-4 lg:mb-10 inline-block">Culture</strong>

				<h4 class="mb-6 lg:mb-38p">We are committed to providing an environment that fosters inclusivity, ongoing training and professional development.</h4>

				<p class="mb-5 max-w-[448px]">We support individual freedom, healthy debates, candidness, and teamwork with an emphasis on strong, disciplined processes and positive client outcomes. </p>
			</div>
		</div>
	</div>
</div>