<div class="text-black pt-10">
	<div class="container">
		<div class="border-t-1 border-t-gray-3 relative before:absolute before:top-0 before:left-0 before:w-[129px] lg:before:w-[153px] before:h-[1px] before:bg-dark-charcoal pt-17p mb-60p">
			<strong class="font-bold tracking-1.655p text-sm uppercase inline-block mb-7">UPCOMING EVENTS</strong>

			<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-[31px] lg:gap-[22px]">
				<div class="sm:pr-10">
					<h4 class="mb-11p lg:text-36 2xl:text-44">Mountain West Clean Energy Procurement Summit</h4>

					<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

					<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
				</div>

				<div class="sm:pr-10">
					<h4 class="mb-11p lg:text-36 2xl:text-44">Mountain West Clean Energy Procurement Summit</h4>

					<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

					<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
				</div>

				<div class="sm:pr-10">
					<h4 class="mb-11p lg:text-36 2xl:text-44">Mountain West Clean Energy Procurement Summit</h4>

					<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

					<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
				</div>

				<div class="sm:pr-10">
					<h4 class="mb-11p lg:text-36 2xl:text-44">Mountain West Clean Energy Procurement Summit</h4>

					<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

					<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
				</div>
			</div>
		</div>

		<div class="border-t-1 border-t-gray-3 relative before:absolute before:top-0 before:left-0 before:w-[129px] lg:before:w-[153px] before:h-[1px] before:bg-dark-charcoal pt-17p">
			<strong class="font-bold tracking-1.655p text-sm uppercase inline-block mb-7">Past EVENTS</strong>

			<div class="slider-events swiper js-slider-events">
				<div class="slider__slides swiper-wrapper">
					<div class="slider__slide swiper-slide grid md:grid-cols-2 lg:grid-cols-4 gap-[31px] lg:gap-[22px]">
						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>
					</div><!-- /.slider__slide -->

					<div class="slider__slide swiper-slide grid md:grid-cols-2 lg:grid-cols-4 gap-[31px] lg:gap-[22px]">
						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>

						<div class="sm:pr-10">
							<p class="mb-11p">Mountain West Clean Energy Procurement Summit</p>

							<strong class="font-bold tracking-1.655p text-sm uppercase block mb-1">NOVEMBER 2-3, 2022</strong>

							<strong class="font-bold tracking-1.655p text-sm uppercase block">SALT LAKE CITY, UT</strong>
						</div>
					</div><!-- /.slider__slide -->
				</div><!-- /.slider__slides -->

				<div class="swiper-pagination"></div>
			</div><!-- /.slider js-slider -->
		</div>
	</div>
</div>