<div class="text-black bg-green-2 pt-12 pb-10 lg:pb-69p">
	<div class="container">
		<div class="relative border-t-1 border-t-black before:absolute before:-top-px before:left-0 before:w-[137px] before:h-[2px] before:bg-black">
			<div class="max-w-[994px] pt-6 relative z-1 mb-42p lg:pt-31p lg:mb-0">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-11p lg:mb-60p inline-block">Global Reach</strong>

				<h3 class="leading-1.046 tracking-0.946p mb-53p lg:leading-none">Our global reach delivers the relationships necessary to secure optimal financing structures and strategic partnerships for our clients.</h3>

				<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button min-w-[163px]">EXPLORE</a>
			</div>

			<figure class="w-full aspect-[355/181] lg:aspect-[858/449] lg:absolute lg:top-1/2 lg:-right-7 lg:-translate-y-1/2 lg:w-[63.5%] lg:mt-7 lg:-mr-6">
				<img src="/dist/svg/map-image-1.svg" alt="map-image" class="w-full h-full object-contain">
			</figure>
		</div>
	</div>
</div>