<div class="bg-dark-green text-white pt-10 pb-2.5 lg:pt-59p lg:pb-52p">
	<div class="container">
		<div class="lg:flex border-t-1 border-t-gray-7 relative before:absolute before:-top-px before:left-0 before:w-[137px] before:h-[2px] before:bg-white pt-31p lg:pt-6">
			<div class="w-full mb- lg:max-w-[300px] xl:max-w-[353px] lg:pr-6 xl:pr-11 lg:pt-0.5">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-9p lg:mb-4 inline-block">Our Industries</strong>

				<p class="mb-7 lg:mb-8">Our team has extensive experience in renewable power, energy storage, sustainable technologies, renewable molecules, and more.</p>
				
				<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button min-w-[163px]">EXPLORE</a>
			</div>

			<div class="flex-1 relative pt-14 lg:pt-4">
				<figure class="absolute -top-4 -right-5 lg:relative lg:top-0 lg:right-0 w-full aspect-[189/267] opacity-60 max-w-[189px] lg:aspect-[467/490] lg:opacity-70 lg:max-w-[467px] lg:ml-auto lg:-mb-[21.5%]">
					<img src="/dist/images/content-detail-approach-image.png" alt="content-detail-approach-image" class="w-full h-full object-cover">
				</figure>

				<ul class="lg:max-w-[965px]">
					<li class="py-2.5 pb-3 pr-2.5 lg:py-5"><h3 class="leading-1.046 tracking-0.946p">Renewable Power & Energy Storage</h3></li>

					<li class="py-2.5 pb-3 pr-2.5 lg:py-5 border-t-1 border-t-gray-3"><h3 class="leading-1.046 tracking-0.946p">Low Carbon Molecules</h3></li>

					<li class="py-2.5 pb-3 pr-2.5 lg:py-5 border-t-1 border-t-gray-3"><h3 class="leading-1.046 tracking-0.946p">Sustainable Technologies & E-Mobility</h3></li>
				</ul>
			</div>
		</div>
	</div>
</div>
