<div class="border-t-1 border-t-gray-6 relative before:absolute before:top-0 before:left-0 before:w-[95px] before:h-[2px] before:bg-gray-6 pt-3 mb-48p lg:pt-10 lg:mb-94p">
    <div class="lg:max-w-[50%] lg:pr-[100px]">
        <strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-11 lg:mb-10 inline-block">OUR FOCUS</strong>

        <h2 class="mb-30p lg:mb-14">A sole focus on <i class="block mt-1.5">energy transition.</i></h2>

        <p class="mb-5">Throughout our more than two-decade history, we have consistently delivered credible and proven strategies to our clients resulting in new and profitable lines of business and, in many instances, a reduction in operating costs. </p>

        <p class="mb-8 lg:mb-7">As the world shifts from yesterday's fossil-fuel-driven, high carbon environment to the decarbonized future of tomorrow, Marathon Capital is dedicated to supporting businesses, governments, and non-governmental organizations navigating the risks and challenges associated with their environmental impact.</p>

        <a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button">OUR FOCUS</a>
    </div>
</div>
