<div class="overflow-hidden pt-4 pb-14 lg:pt-0 lg:pb-[104px] lg:-mt-15p">
	<div class="container">
		<div class="flex flex-col lg:flex-row-reverse lg:items-start">
			<div class="contents lg:block flex-1">
				<div class="lg:px-14 lg:pt-[209px] lg:pb-[224px]">
					<h2 class="mb-22p lg:mb-0">Our Impact</h2>
				</div>

				<figure class="lg:-ml-[266px] order-last aspect-[351/212] lg:aspect-[916/470]">
					<img src="/dist/images/content-detail-who-image.png" alt="content-detail-who-image" class="w-full h-full object-cover">
				</figure>
			</div>

			<div class="bg-dark-green-2 text-white p-30p mb-2.5 lg:mb-0 lg:py-52p lg:px-12 lg:max-w-[726px] z-1">
				<div class="border-t-1 border-t-gray-3 pt-9p pb-31p">
					<h4 class="mb-9p">D&I Fireside Chats</h4>

					<p class="lg:leading-1.56">experiences, career advice, and examples of how we can support one another through various D&I initiatives. </p>
				</div>

				<div class="border-t-1 border-t-gray-3 pt-9p pb-31p">
					<h4 class="mb-9p">Women's Day</h4>

					<p class="lg:leading-1.56">Annual event providing invitees with an opportunity to explore financial careers within the clean energy, sustainable technologies, and infrastructure markets, engage with the Marathon Capital team, and network with firm leadership. </p>
				</div>

				<div class="border-t-1 border-t-gray-3 pt-9p pb-31p">
					<h4 class="mb-9p">ROMBA Conference</h4>

					<p class="lg:leading-1.56">Proud supporter of ROMBA, the world's largest gathering of LGBTQ+ business students and alumni. The firm is sponsoring again in 2023 and will be hosting a welcome reception.</p>
				</div>

				<div class="border-t-1 border-t-gray-3 pt-9p pb-31p">
					<h4 class="mb-9p">Family Planning</h4>

					<p class="lg:leading-1.56">Expanded benefit offerings and enhanced parental leave policies to be more inclusive and supportive of each individual on their family forming journey.</p>
				</div>
			</div>
		</div>
	</div>
</div>