<div class="lg:flex justify-between gap-[46px] border-t-1 border-t-gray-6 relative before:absolute before:top-0 before:left-0 before:w-[130px] before:h-[2px] before:bg-gray-6 text-black py-17p lg:py-7">
	<div class="max-w-[47.8%] mb-29p lg:mb-0">
		<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-4 lg:mb-10 inline-block">Our Expertise</strong>

		<h4 class="lg:leading-1.046 mb-29p lg:mb-0">Our team has extensive experience in renewable power, energy storage, sustainable technologies, renewable molecules, and more.</h4>
	</div>

	<div class="flex-1 lg:pt-52p">
		<ul>
			<li class="py-5 uppercase">
				<p class="font-bold font-apparat text-sm leading-1.64 tracking-1.655p">Renewable Power & Sustainable Infrastructure</p>
			</li>

			<li class="py-5 border-t-1 border-t-gray-9 uppercase">
				<p class="font-bold font-apparat text-sm leading-1.64 tracking-1.655p">Low Carbon Molecules</p>
			</li>

			<li class="py-5 border-t-1 border-t-gray-9 uppercase">
				<p class="font-bold font-apparat text-sm leading-1.64 tracking-1.655p">Sustainable Technologies & E-Mobility</p>
			</li>

			<li class="py-5 border-t-1 border-t-gray-9 uppercase">
				<p class="font-bold font-apparat text-sm leading-1.64 tracking-1.655p">Energy Transition</p>
			</li>
		</ul>
	</div>
</div>