<div class="bg-gray-8 py-34p pb-30p lg:py-90p overflow-hidden">
    <div class="container">
        <div class="border-t-1 border-t-gray relative before:hidden lg:before:inline-block before:absolute before:top-0 before:right-0 before:w-[330px] before:h-[2px] before:bg-gray pt-8">
            <div class="lg:flex justify-between items-center mb-8">
                <h2 class="mb-30p lg:mb-0">Our <i class="block">Experience</i></h2>
            
                <div class="max-w-[330px] pr-3">
                    <p class="mb-22p lg:mb-8">We have built a reputation as a leading advisor in clean energy, infrastructure and tech.</p>
            
                    <a href="#" class="relative inline-block uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">See All Transactions</a>
                </div>
            </div>

            <div>
                <div class="slider-partners js-slider-partners swiper px-3 md:px-0 overflow-visible">
                    <div class="slider__slides swiper-wrapper md:grid md:grid-cols-2 md:gap-x-5 md:gap-y-9 ">
                        {% for i in 1..8 %}
                            <div class="slider__slide swiper-slide">
                                <div class="flex flex-col gap-5 md:gap-9 lg:flex-row lg:gap-5">
                                    <div class="lg:max-w-[calc(50%-10px)]">{% include "_partials/tile-transaction.twig" %}</div>

                                    <div class="lg:max-w-[calc(50%-10px)]">{% include "_partials/tile-transaction.twig" %}</div>
                                </div>
                            </div><!-- /.slider__slide -->
                        {% endfor %}     
                    </div><!-- /.slider__slides -->

                    <div class="swiper-pagination"></div>
                </div><!-- /.slider js-slider -->
            </div>
        </div>
    </div><!-- /.container -->
</div>
