<section class="bg-blue text-white relative overflow-hidden">
    <div class="container">
        <div class="lg:flex lg:pr-53p">
            <div class="flex-1 pt-52p pb-12 lg:py-120p lg:pb-[129px] lg:pr-6 xl:pr-[153px] relative after:hidden after:absolute after:top-0 after:left-full after:w-screen after:h-full after:bg-green-4 lg:after:block">
                <div class="border-t-1 border-t-gray-2 pt-3 md:flex relative before:absolute before:top-0 before:left-0 before:w-[107px] before:h-[2px] before:bg-gray-2 lg:pt-10">
                    <strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-8 lg:mb-0 inline-block">Who We Are</strong>

                    <div class="md:max-w-[66%] -mt-1.5">
                        <h3 class="mb-30p lg:mb-5">The right partner <i class="block mt-1">at the right time.</i></h3>

                        <p class="mb-30p lg:mb-5">Today, every business is addressing the needs associated with their clean energy transition. Marathon Capital has the expertise and experience to create and implement innovative strategies.</p>

                        <a href="#" class="relative inline-block uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">About US</a>
                    </div>
                </div>
            </div>

            <div class="w-screen lg:max-w-[38.8%] -ml-5 lg:w-full">
                <figure class="w-full h-full relative aspect-1/1 lg:max-w-[451px]">
                    <img src="/dist/images/cta-image-1.png" alt="cta-image" class="absolute top-0 left-0 w-full h-full object-cover object-top">
                </figure>
            </div>
        </div>
    </div><!-- /.container -->
</section>
