<div class="py-10 pb-12 lg:pt-40 lg:pb-32">
    <div class="mb-14 lg:flex items-start gap-10">
        <figure class="mb-6 lg:mb-0 w-full max-w-[565px] aspect-[565/374] relative">
            <img src="/dist/images/news-image-1.png" alt="news-image" class="absolute top-0 left-0 object-cover w-full h-full">
        </figure>

        <div class="flex-1">
            <strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-22p lg:mb-9 inline-block">News & Events</strong>
            
            <h4 class="mb-[11px] max-w-[88%] leading-1.046">Marathon Capital Hires Iain Watson to Lead Growth in Canada</h4>

            <p class="mb-8">April 13, 2023</p>

            <div class="pl-[89px] lg:pl-[99px] relative before:absolute before:top-[9px] before:left-0 before:w-[80px] lg:before:w-[72px] before:h-[1px] before:bg-black">
                <p class="mb-5p">Marathon Capital, LLC, a leading financial advisory and investment banking firm to the clean and sustainable energy sectors, today announced that Iain Watson has joined the firm.</p>

                <a href="#" class="text-green inline-flex items-center tracking-1.655p gap-2.5 uppercase font-medium text-sm hover:text-dark-green transition-colors duration-100">
                    Read More

                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5.50001L-4.89399e-07 10.6911L-3.51373e-08 0.308923L9 5.50001Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="border-t-1 border-t-gray-2 relative before:absolute before:top-0 before:left-0 before:w-[129px] lg:before:w-[168px] before:h-[2px] before:bg-gray-2 py-12 pb-11 lg:py-60p">
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-[26px] md:gap-6">
            {% for i in 1..4 %}
                {% include "_partials/tile-news-small.twig" %}
            {% endfor %}
        </div>
    </div>

    <div class="flex items-center lg:justify-center">
        <a href="#" class="relative inline-flex uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button">Read More Stories</a>
    </div>
</div>
