<div class="relative bg-green-5 text-center pt-[102px] pb-28">
	<div class="container">
		<div class="absolute top-0 left-0 w-full h-[100px] lg:w-[242px] lg:h-full">
			<img src="/dist/svg/cta-banner-decoration-1.svg" alt="cta-banner-decoration" class="hidden lg:block w-full h-full object-cover object-right">

			<img src="/dist/svg/cta-banner-decoration-1-mobile.svg" alt="cta-banner-decoration" class="lg:hidden w-full h-full object-cover object-bottom">
		</div>

		<div class="max-w-[550px] mx-auto pt-11 pb-46p lg:pt-0 lg:pb-0">
			<h3 class="mb-7">Research</h3>

			<p class="mb-8">Our aftermarket support encompasses equity research, specialized company events, investor events, and corporate access meetings to deliver full service offerings to the market. </p>

			<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button min-w-[163px]">LEARN MORE</a>
		</div>

		<div class="absolute bottom-0 right-0 w-full h-[100px] lg:w-[242px] lg:h-full">
			<img src="/dist/svg/cta-banner-decoration-2.svg" alt="cta-banner-decoration" class="hidden lg:block w-full h-full object-cover object-left">

			<img src="/dist/svg/cta-banner-decoration-2-mobile.svg" alt="cta-banner-decoration" class="lg:hidden w-full h-full object-cover object-top">
		</div>
	</div>
</div>