<div class="py-9 pb-58p lg:pt-98p lg:pb-66p">
	<div class="container">
		<div class="lg:flex mb-9 lg:mb-10">
			<div class="w-full lg:max-w-[300px] xl:max-w-[353px] lg:pr-6 xl:pr-11 lg:pt-0.5">
			</div>

			<div class="flex-1">
				<figure class="w-full aspect-[351/160] lg:aspect-[1021/315] relative">
					<img src="/dist/images/cta-our-team-image.png" alt="cta-our-team-image" class="hidden lg:inline-block w-full h-full object-cover absolute top-0 left-0">

					<img src="/dist/images/cta-our-team-image-mobile.png" alt="cta-our-team-image" class="lg:hidden w-full h-full object-cover absolute top-0 left-0">
				</figure>
			</div>
		</div>

		<div class="lg:flex border-t-1 border-t-black relative before:absolute before:-top-px before:left-0 before:w-[94px] lg:before:w-[154px] before:h-[2px] before:bg-black pt-22p lg:pt-6">
			<div class="mb-6 lg:mb-0 w-full lg:max-w-[300px] xl:max-w-[353px] lg:pr-6 xl:pr-11 lg:pt-0.5">
				<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">OUR TEAM</strong>
			</div>
	
			<div class="flex-1 lg:pt-3p">
				<div class="lg:max-w-[80%]">
					<h3 class="tracking-0.95p mb-35p lg:mb-10 leading-1.046 lg:leading-none">Our global connections and diverse teams drive success for clients across the entire industry.</h3>

					<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-3 group-[.os-not-mac]/body:pt-3 group-[.os-not-mac]/body:pb-2 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 min-w-[163px]">OUR team</a>
				</div>
			</div>
		</div>
	</div>
</div>