<div class="bg-dark-green overflow-hidden">
	<div class="container">
		<div class="lg:flex justify-between">
			<div class="flex-1 pt-[140px] pb-6 relative lg:pt-[215px] lg:pb-[200px] lg:pr-0">
				<div class="absolute top-0 right-0 h-full w-[105px] -mr-[21px] lg:w-[60%] lg:ml-[28px] lg:-mr-[28px]">
					<img src="/dist/images/hero-bg.png" alt="hero-bg" class="absolute object-cover object-left-bottom bottom-0 left-0 w-full h-full">
				</div>

				<h2 class="text-white relative sm:max-w-[85%] mb-12 lg:max-w-full lg:mb-4">Innovative solutions powering a <i>globally decarbonized future</i></h2>

				<a href="#" class="relative inline-block uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 lg:absolute lg:bottom-10 lg:left-28p">CONNECT WITH US</a>
			</div>

			<div class="bg-white overflow-hidden aspect-[393/425] relative -mr-[21px] -ml-[21px] flex flex-col justify-end py-12 lg:pl-[46px] lg:pr-30p lg:w-[calc(42.1%+28px)] lg:-mr-[28px]">
				<div class="container lg:contents">
					<div class="h-auto w-full absolute left-0 -top-[74px] lg:top-0">
						<img src="/dist/images/hero-decoration.png" alt="her-decoration"
							class="w-full object-contain absolute top-0 left-0 h-auto">
					</div>
					
					<div class="relative border-t-1 border-t-gray-7 pt-30p lg:flex lg:gap-4 lg:pr-2.5">
						<svg class="absolute top-0 left-0" width="65" height="1" viewBox="0 0 65 1" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M0.5 0.5H64.5" stroke="#333333" stroke-linecap="square" />
						</svg>
					
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-5 inline-block lg:mb-0">WE ARE</strong>
					
						<p class="flex-1 basis-1/4 tracking-0.02">The industry’s largest independent advisory firm solely dedicated to
							servicing the clean economy</p>
					</div>
				</div><!-- /.container -->
			</div>
		</div>
	</div><!-- /.container -->
</div>
