<header class="absolute top-0 left-0 w-full py-15p z-50">
	<div class="container pr-15p">
	<div class="flex justify-between items-center gap-4">
		<div class="md:flex md:gap-x-14 z-10">
			<a href="#" class="max-w-[134px] w-full inline-block lg:max-w-full">
				<img class="w-full" src="/dist/svg/logo.svg" alt="logo" width="200" height="32" />
			</a>
		</div> 

		{% include "_partials/nav-main.twig" %}

		<div class="lg:hidden">
		<button class="js-nav-trigger group inline-flex items-center justify-center bg-white shadow-shadow-1 w-[75px] h-[75px] relative focus:outline-none" aria-expanded="false">
			<span class="sr-only">Open main menu</span>

			<i class="w-10 h-10 relative text-green">
			<svg width="100%" height="100%" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.285156 10H40.0001" stroke="currentColor" stroke-width="2" />
				<path d="M0.285156 20H40.0001" stroke="currentColor" stroke-width="2" />
				<path d="M0.285156 30H40.0001" stroke="currentColor" stroke-width="2" />
			</svg>
			</i>
		</button>
		</div>
	</div>
	</div><!-- /.container -->
</header>

<div class="bg-dark-green-2 text-white">
	<div class="container contents lg:block">
		<div class="contents lg:flex lg:flex-row-reverse">
			<div class="relative aspect-[393/350] lg:aspect-auto isolate lg:flex-1">
				<div class="container h-full lg:p-0">
					<div class="flex items-end pt-28 pb-25p lg:pb-[46px] lg:pl-[25.3%] h-full">
						<figure class="absolute top-0 left-0 w-full lg:w-[329px] h-full -z-1">
							<img src="/dist/images/header-detail-image.png" alt="header-detail-image" class="absolute top-0 left-0 w-full h-full object-cover">
						</figure>

						<h2 class="tracking-2.607p relative z-1">Actions speak louder than words.</h2>
					</div>
				</div>
			</div>

			<div class="py-7 w-full lg:max-w-[469px] lg:pt-[305px] lg:pb-60p">
				<div class="container lg:contents">
					<div class="lg:max-w-[75%]">
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 inline-block">WHO WE ARE / CULTURE & COMMITMENTS</strong>

						<p class="mb-30p">As a leader in advising corporations and startups alike on the energy transition, our entire reason for being is to advance sustainability and, by extension, equitability.</p>

						<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-3 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">CONNECT WITH US</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>