<div class="bg-dark-green-2 text-white">
	<div class="container contents lg:block">
		<div class="contents lg:flex lg:flex-row-reverse">
			<div class="relative aspect-[393/350] lg:aspect-auto isolate lg:flex-1">
				<div class="container h-full">
					<div class="flex items-end pt-28 pb-25p h-full">
						<figure class="absolute top-0 left-0 w-full h-full -z-1">
							<img src="/dist/images/header-landing-image.png" alt="header-landing-image" class="absolute top-0 left-0 w-full h-full object-cover">
						</figure>

						<h2 class="tracking-2.607p relative z-1">Meet our team.</h2>
					</div>
				</div>
			</div>

			<div class="py-7 w-full lg:max-w-[351px] lg:pt-204p lg:pb-60p lg:pr-6">
				<div class="container lg:contents">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 lg:mb-3 inline-block">WHO WE ARE / OUR PEOPLE</strong>

					<p class="mb-30p">The depth, scale, and diversity of backgrounds within our team empowers us to solve complex problems, locate and attract "non-obvious" counterparties, and provide our clients with significant market feedback and access to capital to execute transactions across even the most challenging markets.</p>

					<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">CONNECT WITH US</a>
				</div>
			</div>
		</div>
	</div>
</div>