<div class="bg-dark-green-2 text-white">
	<div class="container contents lg:block">
		<div class="contents lg:flex lg:flex-row-reverse">
			<div class="relative aspect-[393/350] lg:aspect-auto isolate lg:flex-1">
				<div class="container h-full lg:p-0">
					<div class="flex items-end pt-28 pb-25p lg:pb-[46px] lg:pl-[25.3%] h-full">
						<figure class="absolute top-0 left-0 w-full lg:w-[329px] h-full -z-1">
							<img src="/dist/images/header-detail-image.png" alt="header-detail-image" class="absolute top-0 left-0 w-full h-full object-cover">
						</figure>

						<h2 class="tracking-2.607p relative z-1">Actions speak louder than words.</h2>
					</div>
				</div>
			</div>

			<div class="py-7 w-full lg:max-w-[469px] lg:pt-[305px] lg:pb-60p">
				<div class="container lg:contents">
					<div class="lg:max-w-[75%]">
						<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-2.5 inline-block">WHO WE ARE / CULTURE & COMMITMENTS</strong>

						<p class="mb-30p">As a leader in advising corporations and startups alike on the energy transition, our entire reason for being is to advance sustainability and, by extension, equitability.</p>

						<a href="#" class="relative inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-3 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">CONNECT WITH US</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>