<div class="pt-5 border-t-1 border-t-gray-3 lg:border-t-0 lg:border-l-1 lg:border-l-gray-3 lg:pt-0 lg:px-5">
	<figure class="w-full aspect-[214/97] mb-4 max-w-[214px]">
		<img src="/dist/images/industry-participant-box-image.png" alt="industry-participant-box-image" class="w-full h-full">
	</figure>

	<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-1 inline-block">Capital Providers</strong>

	<p>Strategic Investors, Financial Sponsors, Lenders, Tax Equity Investors</p>
</div>