<div class="mb-10 lg:mb-50p">
	<div class="lg:flex">
		<div class="flex items-center gap-3 border-b-1 border-l-1 border-r-1 border-gray-3 px-15p mb-2.5 flex-1 lg:basis-1/2 lg:max-w-[50%]">
			<label for="search" class="text-green uppercase text-sm font-bold leading-1.64 tracking-1.655p">Search by name</label>

			<input type="text" name="search" id="search" value="" class="py-3 text-right lg:text-left bg-transparent text-black placeholder:text-black w-full flex-1 focus:outline-none rounded-none" placeholder="Search" />
		</div>

		<div class="flex items-center gap-3 border-b-1 border-l-1 border-r-1 border-gray-3 px-15p mb-2.5 flex-1 lg:border-l-0">
			<label for="select-by-title" class="text-green uppercase text-sm font-bold leading-1.64 tracking-1.655p">By title</label>

			<div class="w-full flex-1 relative">
				<select name="select-by-title" id="select-by-title" class="w-full bg-transparent py-3 text-right appearance-none pr-4 focus:outline-none tracking-0.32p rounded-none">
					<option value="leadership">Leadership</option>

					<option value="title-2">title-2</option>

					<option value="title-3">title-3</option>
				</select>

				<svg class="text-green absolute top-1/2 group-[.os-not-mac]/body:top-[48%] -translate-y-1/2 right-0" width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.5 8.98047L0.736861 0.730468L10.2631 0.730469L5.5 8.98047Z" fill="currentColor"/>
				</svg>
			</div>
		</div>

		<div class="flex items-center gap-3 border-b-1 border-l-1 border-r-1 border-gray-3 px-15p mb-2.5 flex-1 lg:border-l-0">
			<label for="select-by-office" class="text-green uppercase text-sm font-bold leading-1.64 tracking-1.655p">By Office</label>

			<div class="w-full flex-1 relative">
				<select name="select-by-office" id="select-by-office" class="w-full bg-transparent py-3 text-right appearance-none pr-4 focus:outline-none tracking-0.32p rounded-none">
					<option value="all">All</option>

					<option value="office-2">Office-2</option>

					<option value="office-3">Office-3</option>
				</select>

				<svg class="text-green absolute top-1/2 group-[.os-not-mac]/body:top-[48%] -translate-y-1/2 right-0" width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.5 8.98047L0.736861 0.730468L10.2631 0.730469L5.5 8.98047Z" fill="currentColor"/>
				</svg>
			</div>
		</div>
	</div>
</div>