<section class="relative text-white py-20">
    <div class="container">
        <figure class="absolute top-0 left-0 w-full h-full -z-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gray-9 before:z-1 before:mix-blend-multiply">
            <img src="/dist/images/footer-bg.png" alt="footer-bg" class="absolute top-0 left-0 w-full h-full object-cover">
        </figure>

        <div class="xl:flex items-start justify-between relative z-1 gap-5">
            <div class="flex-1 lg:flex gap-5 max-w-[80%] mb-12 xl:mb-0 xl:max-w-[61.5%] lg:pr-20">
                <div class="flex-1 mb-9 lg:mb-0">
                    <h3 class="-mt-4 mb-11">A global advisor focused solely on the <i>clean economy and the energy transition.</i></h3>

                    <a href="#" class="relative inline-flex uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100 shadow-shadow-button">CONNECT WITH US</a>
                </div>

                <ul class="w-full lg:w-[215px] mb-5">
                    <li class="py-3 border-t-1 border-t-white font-medium tracking-0.6p text-white">North America</li>
                
                    <li class="py-3 border-t-1 border-t-white font-medium tracking-0.6p text-white">Europe</li>
                
                    <li class="py-3 border-t-1 border-t-white font-medium tracking-0.6p text-white">LATAM</li>
                
                    <li class="py-3 border-t-1 border-t-white font-medium tracking-0.6p text-white">Asia Pacific</li>
                </ul>
            </div>

            <form action="?" class="bg-green-5 p-5 lg:pt-6 lg:pl-7 lg:pr-10 lg:pb-8 lg:max-w-[448px] text-black">
                <div class="mb-[34px]">
                    <strong class="flex-1 font-bold tracking-1.655p text-sm uppercase mb-5p inline-block">Subscribe</strong>   

                    <p>Subscribe to receive updates on the latest news and developments in the industry.</p>
                </div>

                <div class="grid lg:grid-cols-2 gap-5 mb-5 lg:mb-15p"> 
                    <div>
                        <label for="first-name" class="hidden">First Name</label>

                        <input class="w-full bg-transparent border-b-2 border-b-green text-sm min-h-[40px] focus:outline-none hover:outline-none" type="text" placeholder="First Name" id="first-name" name="first-name">
                    </div>

                    <div>
                        <label for="last-name" class="hidden">Last Name</label>

                        <input class="w-full bg-transparent border-b-2 border-b-green text-sm min-h-[40px] focus:outline-none hover:outline-none" type="text" placeholder="Last Name" id="last-name" name="last-name">
                    </div>
                </div>

                <div>
                    <div>
                        <label for="email" class="hidden">Email</label>

                        <input class="w-full bg-transparent border-b-2 border-b-green text-sm min-h-[40px] focus:outline-none hover:outline-none" type="email" placeholder="Email" id="email" name="email">
                    </div>
                </div>

                <button type="submit" class="relative mt-10 inline-flex items-center justify-center uppercase before:bg-green before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full py-2.5 px-30p bg-white overflow-hidden shadow-shadow-button after:absolute after:bg-green after:top-0 after:left-0 after:right-[-2px] after:h-full after:-z-1 after:translate-y-full hover:after:translate-y-0 after:transition after:duration-100 isolate hover:text-white text-green text-sm tracking-1.655p font-bold leading-1.64 transition duration-100">Subscribe</button>
            </form>
        </div>
    </div><!-- /.container -->
</section>

<footer></footer>
