<div class="bg-white shadow-shadow-1 py-11p mb-5 relative hidden lg:block">
    <div class="flex items-center justify-end p-2.5 gap-15p">
        <nav class="nav">
            <ul class="flex items-center">
                <li class="px-2.5 py-5p text-lg leading-1.28 font-medium group">
                    <a href="#" class="hover:text-green transition-colors duration-300">Who We Are</a>

                    <div class="js-dropdown absolute top-full left-0 flex bg-black max-w-[500px] opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-300 before:absolute before:bottom-full before:left-0 before:w-full before:h-5">
                        <div class="text-white basis-1/2 relative p-18p flex flex-col justify-end isolate">
                            <figure class="absolute top-0 left-0 w-full h-full -z-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gray-3 before:mix-blend-multiply before:z-1">
                                <img src="/dist/images/dropdown-image-1.jpeg" alt="dropdown-image"
                                    class="object-cover absolute top-0 left-0 w-full h-full">
                            </figure>

                            <p class="font-medium">Lorem ipsum dolor sit amet, consectetur adipis cing elit, seddo
                                eiusmod tempor.</p>
                        </div>
 
                        <div class="bg-dark-green py-9 pl-10 pr-9 text-white basis-1/2 aspect-square flex items-center justify-center">
                            <ul class="w-full">
                                <li class="py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Our People</a>
                                </li>

                                <li class="py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Culture & Commitements</a>
                                </li>

                                <li class="py-2.5 border-t-1 border-t-gray-3 border-b-1 border-b-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="px-2.5 py-5p text-lg leading-1.28 font-medium border-l border-l-green group">
                    <a href="#" class="hover:text-green transition-colors duration-300">Our Focus</a>

                    <div class="js-dropdown absolute top-full left-0 flex bg-black max-w-[500px] opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-300 before:absolute before:bottom-full before:left-0 before:w-full before:h-5">
                        <div class="text-white basis-1/2 relative p-18p flex flex-col justify-end isolate">
                            <figure class="absolute top-0 left-0 w-full h-full -z-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gray-3 before:mix-blend-multiply before:z-1">
                                <img src="/dist/images/dropdown-image-2.jpg" alt="dropdown-image"
                                    class="object-cover absolute top-0 left-0 w-full h-full">
                            </figure>
                    
                            <p class="font-medium">Lorem ipsum dolor sit amet, consectetur adipis cing elit, seddo
                                eiusmod tempor.</p>
                        </div>
                    
                        <div class="bg-dark-green py-9 pl-10 pr-9 text-white basis-1/2 aspect-square flex items-center justify-center">
                            <ul class="w-full">
                                <li class="py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Our Approach</a>
                                </li>
                    
                                <li class="py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Industries</a>
                                </li>
                    
                                <li class="py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Services</a>
                                </li>

                                <li class="py-2.5 border-t-1 border-t-gray-3 border-b-1 border-b-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="">Global Reach</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="px-2.5 py-5p text-lg leading-1.28 font-medium border-l border-l-green">
                    <a href="#" class="hover:text-green transition-colors duration-300">Our Experience</a>
                </li>

                <li class="px-2.5 py-5p text-lg leading-1.28 font-medium border-l border-l-green">
                    <a href="#" class="hover:text-green transition-colors duration-300">News & Events</a>
                </li>
            </ul>
        </nav><!-- /.nav -->

        <div class="flex items-center justify-end">
            <ul class="flex items-center">
                <li class="uppercase px-2.5 py-5p text-green text-sm font-medium hover:text-black transition-colors duration-300">
                    <a href="#" class="p-2.5">contact</a>
                </li>

                <li class="uppercase px-2.5 py-5p text-green text-sm font-medium hover:text-black transition-colors duration-300">
                    <a href="#">search</a>
                </li>
            </ul>
        </div>
    </div>
</div>
