<div class="js-nav bg-white shadow-shadow-1 pt-[123px] pb-10 px-5 lg:px-0 lg:py-11p mb-5 lg:block fixed top-0 left-0 -translate-x-full lg:relative lg:translate-x-0 [&.is-active]:translate-x-0 transition duration-300 h-[100svh] lg:h-auto z-20 w-screen lg:w-auto overflow-auto"> 
    <div class="lg:flex items-center justify-end lg:p-2.5 gap-15p">
        <nav class="nav flex-1">
            <ul class="lg:flex items-center">
                <li class="lg:px-2.5 lg:py-5p text-lg leading-1.28 font-medium group border-t-1 lg:border-0 border-t-gray-3 mb-26p lg:mb-0"> 
                    <a href="#" class="text-green lg:text-black lg:hover:text-green transition-colors duration-300 py-2.5 lg:py-0 inline-block">Who We Are</a>

                    <div class="lg:absolute lg:top-full left-0 flex lg:bg-black w-full lg:max-w-[500px] lg:opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-300 before:hidden lg:before:block before:absolute before:bottom-full before:left-0 before:w-full before:h-5">
                        <div class="text-white basis-1/2 relative p-18p flex flex-col justify-end isolate hidden lg:block">
                            <figure class="absolute top-0 left-0 w-full h-full -z-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gray-3 before:mix-blend-multiply before:z-1">
                                <img src="/dist/images/dropdown-image-1.jpeg" alt="dropdown-image"
                                    class="object-cover absolute top-0 left-0 w-full h-full">
                            </figure>

                            <p class="font-medium">Lorem ipsum dolor sit amet, consectetur adipis cing elit, seddo
                                eiusmod tempor.</p>
                        </div>
 
                        <div class="lg:bg-dark-green lg:py-9 lg:pl-10 lg:pr-9 text-black lg:text-white lg:basis-1/2 lg:aspect-square lg:flex items-center justify-center w-full lg:w-auto">
                            <ul class="w-full">
                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Our People</a>
                                </li>

                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Culture & Commitements</a>
                                </li>

                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 lg:border-b-1 border-b-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="lg:px-2.5 lg:py-5p text-lg leading-1.28 font-medium group border-t-1 lg:border-0 border-t-gray-3 mb-26p lg:mb-0"> 
                    <a href="#" class="text-green lg:text-black lg:hover:text-green transition-colors duration-300 py-2.5 lg:py-0 inline-block">Our Focus</a>

                    <div class="lg:absolute lg:top-full left-0 flex lg:bg-black w-full lg:max-w-[500px] lg:opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-opacity duration-300 before:hidden lg:before:block before:absolute before:bottom-full before:left-0 before:w-full before:h-5">
                        <div class="text-white basis-1/2 relative p-18p flex flex-col justify-end isolate hidden lg:block">
                            <figure class="absolute top-0 left-0 w-full h-full -z-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gray-3 before:mix-blend-multiply before:z-1">
                                <img src="/dist/images/dropdown-image-2.jpg" alt="dropdown-image"
                                    class="object-cover absolute top-0 left-0 w-full h-full">
                            </figure>

                            <p class="font-medium">Lorem ipsum dolor sit amet, consectetur adipis cing elit, seddo
                                eiusmod tempor.</p>
                        </div>
 
                        <div class="lg:bg-dark-green lg:py-9 lg:pl-10 lg:pr-9 text-black lg:text-white lg:basis-1/2 lg:aspect-square lg:flex items-center justify-center w-full lg:w-auto">
                            <ul class="w-full">
                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Our Approach</a>
                                </li>

                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Our Industries</a>
                                </li>

                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Services</a>
                                </li>

                                <li class="pt-2 pb-2.5 lg:py-2.5 border-t-1 border-t-gray-3 lg:border-b-1 border-b-gray-3 hover:text-green transition-colors duration-300">
                                    <a href="#">Global Reach</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="g:px-2.5 lg:py-5p text-lg leading-1.28 font-medium group border-t-1 lg:border-0 border-t-gray-3 mb-26p lg:mb-0">
                    <a href="#" class="text-green lg:text-black lg:hover:text-green transition-colors duration-300 py-2.5 lg:py-0 inline-block">Our Experience</a>
                </li>

                <li class="g:px-2.5 lg:py-5p text-lg leading-1.28 font-medium group border-t-1 lg:border-0 border-t-gray-3">
                    <a href="#" class="text-green lg:text-black lg:hover:text-green transition-colors duration-300 py-2.5 lg:py-0 inline-block">News & Events</a>
                </li>
            </ul>
        </nav><!-- /.nav -->

        <div class="flex items-center justify-start lg:justify-end absolute top-6 left-0 w-full lg:w-auto px-5 pr-20 lg:pr-0 lg:px-0 lg:relative lg:top-0">
            <ul class="flex items-center gap-4 lg:gap-0">
                <li class="uppercase lg:px-2.5 py-5p text-green text-sm font-medium hover:text-black transition-colors duration-300 tracking-1.655p">
                    <a href="#" class="py-2 lg:p-2.5">contact</a>
                </li>

                <li class="uppercase lg:px-2.5 py-5p text-green text-sm font-medium hover:text-black transition-colors duration-300 tracking-1.655p">
                    <a href="#" class="py-2 lg:p-2.5">search</a>
                </li>
            </ul>
        </div>

        <button class="js-nav-close lg:hidden group inline-flex items-center justify-center bg-white w-[75px] h-[75px] absolute top-0 right-0 focus:outline-none" aria-expanded="false">
            <span class="sr-only">Close main menu</span>

            <i class="w-10 h-10 relative text-green">
                <svg width="100%" height="100%" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.34082 40.602L40.9428 1.00001" stroke="currentColor" stroke-width="2" />
                    <path d="M1.34082 1.39801L40.9428 41" stroke="currentColor" stroke-width="2" />
                </svg>
            </i>
        </button>
    </div>
</div>
