<a href="#" class="text-black group inline-block lg:pr-2.5 lg:mb-0 max-w-[75%] lg:max-w-full w-full">
	<figure class="w-full max-w-[64%] lg:max-w-[65%] aspect-[84/47] relative mb-3 lg:mb-2.5">
		<img src="/dist/images/news-image-2.png" alt="news-image" class="absolute top-0 left-0 object-cover w-full h-full">
	</figure>

	<span class="mb-0.5 text-sm">March 20, 2023</span>

	<p class="group-hover:underline">
		Marathon Capital Advises Nestlé on Tax Equity Investment and REC Purchase with Enel North America

		<svg class="inline text-green opacity-25 group-hover:opacity-100 transition-opaicty duration-100 ml-1" width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.66669 5.50459L0.666687 10.2717L0.666687 0.737475L9.66669 5.50459Z" fill="currentColor"/>
		</svg>
	</p>
</a>