<div class="bg-white shadow-shadow-1">
	<div class="flex border-b-1 border-b-gray-2">
		<a href="/dist/ajax/modal-transaction.twig" class="js-modal-transaction-trigger w-1/2 flex items-center justify-center aspect-1/1 p-1">
			<img src="/dist/images/trans-alta-logo@2x.png" width="115" alt="trans-alta-logo">
		</a>

		<div class="w-1/2 aspect-1/1 border-l-1 border-l-gray-2">
			<div class="slider-logos js-slider-logos swiper">
				<div class="slider__slides swiper-wrapper">
					<div class="slider__slide swiper-slide">
						<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 w-full h-full">
							<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
						</div>
					</div><!-- /.slider__slide -->

					<div class="slider__slide swiper-slide">
						<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 w-full h-full">
							<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
						</div>
					</div><!-- /.slider__slide -->

					<div class="slider__slide swiper-slide">
						<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 w-full h-full">
							<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
						</div>
					</div><!-- /.slider__slide -->
				</div><!-- /.slider__slides -->

				<div class="swiper-pagination"></div>
			</div><!-- /.slider js-slider -->
		</div>
	</div>  

	<div class="flex justify-between gap-4 text-sm leading-1.43 tracking-0.525p p-3 px-4  border-b-1 border-b-gray-2">
		<p class="flex-1 font-apparat font-normal">First Commercial Solar Project Financing Fund</p>

		<strong class="font-bold leading-1.64 tracking-1p">2005</strong>
	</div>

	<div class="flex justify-between items-center gap-2 px-2.5 py-3 border-b-2 border-b-green relative before:z-1 before:absolute before:top-0 before:right-0 before:w-1/3 before:pointer-events-none before:h-full before:bg-gradient-to-r before:from-transparent before:via-white before:to-white">
		<div class="flex flex-nowrap gap-4 text-nowrap overflow-x-auto relative pr-60p">
			<span class="py-5p px-2.5 bg-green-3 rounded-20 font-medium text-sm text-text leading-0.525p whitespace-nowrap">Tax Equity</span>
			<span class="py-5p px-2.5 bg-green-3 rounded-20 font-medium text-sm text-text leading-0.525p whitespace-nowrap">Tax Equity</span>
			<span class="py-5p px-2.5 bg-green-3 rounded-20 font-medium text-sm text-text leading-0.525p whitespace-nowrap">Tax Equity</span>
			<span class="py-5p px-2.5 bg-green-3 rounded-20 font-medium text-sm text-text leading-0.525p whitespace-nowrap">Tax Equity</span>
		</div>

		<a href="#" class="z-1 min-w-[26px] w-[26px] min-h-[26px] bg-green text-white flex items-center justify-center hover:bg-dark-green transition-colors duration-300">
			<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.70024 9.37H4.33224V5.374H0.318242V4.006H4.31424V0.0279996H5.70024V4.006H9.67824V5.374H5.70024V9.37Z" fill="currentColor" />
			</svg>
		</a>
	</div>
</div>