<div class="flex bg-white text-sm leading-1.43 tracking-0.525p shadow-shadow-1 lg:block lg:text-lg lg:leading-1.39 lg:tracking-0.32p">
	<figure class="relative w-[100px] min-h-[100px] lg:w-full lg:min-w-0 lg:aspect-[447/269]">
		<img src="/dist/images/tile-news-large-image.png" alt="tile-news-large-image" class="w-full h-full object-cover">
	</figure>

	<div class="border-b-green border-b-2 flex-1 p-5">
		<p class="mb-1.5">March 20, 2023</p>

		<p>Marathon Capital Advises Nestlé on Tax Equity Investment and REC Purchase with Enel North America</p>
	</div>
</div>