<a href="#" class="flex bg-white text-sm leading-1.43 tracking-0.525p shadow-shadow-1 lg:block lg:text-lg lg:leading-1.39 lg:tracking-0.32p group">
	<figure class="relative w-[100px] min-h-[100px] lg:w-full lg:min-w-0 lg:aspect-[447/269] overflow-hidden">
		<img src="/dist/images/tile-news-large-image.png" alt="tile-news-large-image" class="w-full h-full object-cover group-hover:scale-110 transition duration-100">
	</figure>

	<span class="block border-b-green border-b-2 flex-1 p-5 relative isolate overflow-hidden after:h-full after:absolute after:-z-1 after:top-0 after:left-0 after:w-full after:bg-green-2 after:translate-y-full group-hover:after:translate-y-0 after:transition after:duration-100">
		<p class="mb-1.5">March 20, 2023</p>

		<p>Marathon Capital Advises Nestlé on Tax Equity Investment and REC Purchase with Enel North America</p>
	</span>
</a>