{% extends "_layouts/base.twig" %}

{% block response %}
<!DOCTYPE html>
<html class="no-js"
      lang="{{ currentSite.language }}"
      dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
  <head>
    <style>[x-cloak] { display: none !important; }</style>
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <title>{{ siteName }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/riy7rka.css">
    {% include "_includes/analytics.twig" %}
    {% include "_includes/fonts.twig" %}
    {% include "_includes/scripts.twig" %}
  </head>  
  {% block bodyTag %}
  <body class="relative flex flex-col min-h-screenh antialiased [&.has-open-nav]:overflow-hidden">
  {% endblock %}
    <header class="absolute top-0 left-0 w-full py-15p z-50">
      <div class="container pr-15p">
        <div class="flex justify-between items-center gap-4">
          <div class="md:flex md:gap-x-14 z-10">
            <a href="#" class="max-w-[134px] w-full inline-block lg:max-w-full">
              <img class="w-full" src="/dist/svg/logo.svg" alt="" width="200" height="32" />
            </a>
          </div> 
  
          {% include "_partials/nav-main.twig" %}

          <div class="lg:hidden">
            <button class="js-nav-trigger group inline-flex items-center justify-center bg-white shadow-shadow-1 w-[75px] h-[75px] relative focus:outline-none" aria-expanded="false">
              <span class="sr-only">Open main menu</span>

              <i class="w-10 h-10 relative text-green">
                <svg width="100%" height="100%" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.285156 10H40.0001" stroke="currentColor" stroke-width="2" />
                  <path d="M0.285156 20H40.0001" stroke="currentColor" stroke-width="2" />
                  <path d="M0.285156 30H40.0001" stroke="currentColor" stroke-width="2" />
                </svg>
              </i>
            </button>
          </div>
        </div>
      </div><!-- /.container -->
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
{% endblock %}
