<div class="lg:pl-100p relative max-w-[1062px] w-full">
	<a href="#" class="js-modal-close hidden lg:flex lg:w-[100px] lg:h-[100px] absolute top-0 left-0 bg-green text-white items-center justify-center">
		<svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line x1="0.353553" y1="0.646447" x2="32.1734" y2="32.4663" stroke="currentColor"/>
			<line x1="32.1739" y1="1.35355" x2="0.354059" y2="33.1734" stroke="currentColor"/>
		</svg>
	</a>

	<div class="relative grid lg:grid-cols-2 bg-white text-black">
		<a href="#" class="js-modal-close lg:hidden w-[50px] h-[50px] absolute top-0 right-0 bg-green text-white flex items-center justify-center z-1">
			<i class="w-4 h-4">
				<svg width="100%" height="100%" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line x1="0.353553" y1="0.646447" x2="32.1734" y2="32.4663" stroke="currentColor"/>
					<line x1="32.1739" y1="1.35355" x2="0.354059" y2="33.1734" stroke="currentColor"/>
				</svg>
			</i>
		</a>

		<div class="flex lg:w-1/2 bg-gray-8 lg:block">
			<div class="js-modal-transaction-trigger w-1/2 lg:w-full flex items-center justify-center aspect-1/1 lg:aspect-[547/397]">
				<img src="/dist/images/trans-alta-logo@2x.png" width="115" alt="trans-alta-logo">
			</div>

			<div class="relative w-1/2 lg:w-full aspect-1/1 lg:aspect-[547/397] border-l-1 border-l-gray-2 lg:border-0 before:absolute before:top-0 before:left-1/2 before:-translate-x-1/2 before:h-px before:w-[80%] before:bg-gray-2 before:hidden lg:before:block">
				<div class="slider-logos js-slider-logos swiper">
					<div class="slider__slides swiper-wrapper">
						<div class="slider__slide swiper-slide">
							<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 lg:aspect-[547/397] w-full h-full">
								<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
							</div>
						</div><!-- /.slider__slide -->

						<div class="slider__slide swiper-slide">
							<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 lg:aspect-[547/397] w-full h-full">
								<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
							</div>
						</div><!-- /.slider__slide -->

						<div class="slider__slide swiper-slide">
							<div class="relative pb-2.5 flex items-center justify-center aspect-1/1 lg:aspect-[547/397] w-full h-full">
								<img src="/dist/images/citi-logo@2x.png" width="53" alt="citi-logo">
							</div>
						</div><!-- /.slider__slide -->
					</div><!-- /.slider__slides -->

					<div class="swiper-pagination"></div>
				</div><!-- /.slider js-slider -->
			</div>
		</div>  

		<div>
			<div class="lg:py-90p lg:pb-120p lg:px-30p">
				<h4>TransAtlanta Corporation  & Citi</h4>
			</div>

			<ul>
				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">Our Expertise</strong>

					<p class="text-right font-apparat font-normal">January 2023</p>
				</li>

				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">Industries</strong>

					<p class="text-right font-apparat font-normal">Renewable Fuels & Chemicals</p>
				</li>

				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">Solutions</strong>

					<p class="text-right font-apparat font-normal">Mergers and Acquisitions</p>
				</li>

				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">MARATHON'S ROLE</strong>

					<p class="text-right font-apparat font-normal">Exclusive Financial Advisor to GreenGas</p>
				</li>

				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">CLIENT COUNTRIES</strong>

					<p class="text-right font-apparat font-normal">United States</p>
				</li>

				<li class="lg:flex lg:justify-between lg:items-center lg:gap-4 lg:py-30p lg:px-8 border-t-1 border-t-night-rider-opacity-70 text-sm">
					<strong class="flex-1 font-bold tracking-1.655p text-sm uppercase inline-block">COUNTERPARTY COUNTRIES</strong>

					<p class="text-right font-apparat font-normal">Australia</p>
				</li>
			</ul>
		</div>
	</div>
</div>