<div class="lg:pl-100p relative">
	<a href="#" class="js-modal-close hidden lg:flex lg:w-[100px] lg:h-[100px] absolute top-0 left-0 bg-green text-white items-center justify-center">
		<svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line x1="0.353553" y1="0.646447" x2="32.1734" y2="32.4663" stroke="currentColor"/>
			<line x1="32.1739" y1="1.35355" x2="0.354059" y2="33.1734" stroke="currentColor"/>
		</svg>
	</a>

	<div class="lg:flex relative lg:static bg-dark-green-2 text-white">
		<div class="w-full max-w-[150px] lg:max-w-[350px]">
			<figure class="w-full aspect-1/1 relative">
				<img src="/dist/images/person-2.png" alt="person" class="w-ful h-full absolute top-0 left-0 object-cover object-top">
			</figure>
		</div>

		<a href="#" class="js-modal-close lg:hidden w-[50px] h-[50px] absolute top-0 right-0 bg-green text-white flex items-center justify-center">
			<i class="w-4 h-4">
				<svg width="100%" height="100%" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line x1="0.353553" y1="0.646447" x2="32.1734" y2="32.4663" stroke="currentColor"/>
					<line x1="32.1739" y1="1.35355" x2="0.354059" y2="33.1734" stroke="currentColor"/>
				</svg>
			</i>
		</a>

		<div class="flex-1 py-3 pb-18p px-4 lg:px-7 lg:py-8 flex items-end justify-between gap-4">
			<div class="lg:max-w-[50%]">
				<h4 class="mb-0.5 lg:text-64 lg:leading-none lg:tracking-0.946">Greg Andiorio</h4>

				<p class="text-sm font-apparat font-normal tracking-0.525p lg:text-lg lg:leading-1.39">Director, Tax & Structuring</p>
			</div>

			<a href="#" class="w-6 h-6 lg:w-10 lg:h-10 text-green">
				<svg width="100%" height="100%" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5 13.333L18.151 22.1003C19.2707 22.8468 20.7293 22.8468 21.849 22.1003L35 13.333M8.33333 31.6663H31.6667C33.5076 31.6663 35 30.174 35 28.333V11.6663C35 9.82539 33.5076 8.33301 31.6667 8.33301H8.33333C6.49238 8.33301 5 9.82539 5 11.6663V28.333C5 30.174 6.49238 31.6663 8.33333 31.6663Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</div>
	</div>

	<div class="bg-white p-5 lg:p-60p">
		<p class="mb-15p lg:mb-30p lg:text-28 lg:leading-1.43">Greg Andiorio, Director, Tax & Structuring, is responsible for executing tax equity and M&A engagements in the renewable energy sector, providing technical tax support across various Marathon Capital engagements, and supporting Marathon’s relationship management responsibilities.</p>

		<p class="text-sm mb-2.5 lg:mb-5 lg:text-base">Mr. Andiorio’s noteworthy transactions at Marathon include placement of the tax equity financing for TransAlta’s Big Level and Antrim wind projects, placement of the tax equity financing for Innogy’s Scioto Ridge wind project, the sale of GE, Tyr Energy, Sumitomo and Google’s equity interests in the 845 MW Shepherds Flat operating wind farm to Caithness Energy, buy-side M&A advisory for Fiera Infrastructure’s acquisition of an equity interest in a portfolio of utility-scale wind and solar assets owned by D.E. Shaw Renewable Investments, buy-side M&A advisory for MEAG’s acquisition of an equity interest in two U.S. wind projects owned by Starwood Energy, and placement of the tax equity financing for Coronal Energy’s 120MW Gulf Coast Solar Center portfolio.</p>

		<p class="text-sm mb-2.5 lg:mb-5 lg:text-base">Before joining Marathon Capital, Mr. Andiorio was a Senior Manager in the Mergers and Acquisitions – Tax practice at KPMG, leading tax structuring, modeling, and due diligence engagements and advising energy clients on tax issues associated with bankruptcy restructurings. Notable bankruptcy work includes tax advisory for the unregulated subsidiary of one of the largest utilities in the U.S.</p>

		<p class="text-sm lg:text-base">Mr. Andiorio received a BS in Accountancy and an MS in Accountancy with a concentration in Taxation from the University of Illinois at Urbana-Champaign and is a Certified Public Accountant. Mr. Andiorio holds his 63 and 79 licenses.</p>
	</div>
</div>