{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-gray-200'
  }) }}
{% endblock %}

{% block content %}
  {% include "_partials/header-article.twig" %}

  <div class="pt-26p pb-7 lg:pt-90p lg:pb-8">
    <div class="container">
      <div class="max-w-[916px] mx-auto">
        <div class="mb-10">
          <p class="mb-6 lg:mb-10 lg:text-28 lg:leading-1.43">This Website Privacy Policy (“policy”) describes the types of personal information we may collect about you when you use our website <a href="https://www.goldmansachs.com/" class="underline hover:no-underline">marathoncapital.com</a> (the “site”), the purposes for which we use the information, and the circumstances in which we may share such information.</p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">As used throughout this policy, the term “Marathon Capital,” “we”, “our” or “us” refers to Marathon Capital, LLC.</p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">When you visit the site, we collect certain personal information about you. “Personal information” means information that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked, directly or indirectly, to you or your household.p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">For further information about anything on this page, please contact Marathon Capital by email at <a href="mailto:privacy@marathoncapital.com" class="text-green underline hover:no-underline">privacy@marathoncapital.com</a></p>
        </div>

        <div class="mb-10">
          <h4 class="mb-18p lg:text-32 lg:mb-5">Collection of Personal Information</h4>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">The categories below describe the personal information we collect about you and the sources from which we collect those categories of personal information.</p>

          <div class="mb-5">
            <strong class="font-mediun tracking-0.6p  inline-block">Personal Identifiers</strong>
            <p>Description: email address</p>
            <p>Sources: You</p>
          </div>

          <div class="mb-5">
            <strong class="font-mediun tracking-0.6p  inline-block">Device and Online Identifiers</strong>
            <p>Description: IP address; session ID (session start time)</p>
            <p>Sources: You; devices associated with you; third-party information providers</p>
          </div>

          <div class="mb-5">
            <strong class="font-mediun tracking-0.6p  inline-block">Internet, Browser, and Network Activity</strong>
            <p>Description: clickstream/online website tracking information; data related to user activity, e.g., browser visits, page views, visits, and unique visitor data; and cookies or other similar technologiesSources: You; devices associated with you; third-party information providers</p>
          </div>

          <div class="mb-5">
            <strong class="font-mediun tracking-0.6p inline-block">Location Data</strong>
            <p>Description: Region, country, and city</p>
            <p>Sources: You; devices associated with you; third-party information providers</p>
          </div>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">We operate in a regulated industry, and so we are required to collect and use certain personal information before we can accept someone as a client, and as necessary for the performance of any contracts we enter into with you. In addition to the information identified above, this may include:</p>

          <ul class="font-apparat-light font-normal text-sm mb-2.5 lg:mb-5">
            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">basic information such as your name, the company you work for, your position and your relationship to a person;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">contact information such as your postal address, email address and telephone number(s);</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">financial information, such as payment related information;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">identification and background information provided by you or collected as part of our business acceptance process; and</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">any other personal information relating to you or other third parties which you may provide to us for the purpose of receiving our services.</li>
          </ul>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">Marathon Capital collects information from and about candidates in connection with available employment opportunities at Marathon Capital. This information may include CVs, identification documents, academic records, work history, employment, and references.</p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">In connection with our recruitment activities, we may also collect special categories of personal information from candidates where we have an employment law obligation to do so, the information is relevant to their future working environment at Marathon Capital or the future provision of employment benefits, or with the individual’s explicit consent.</p>
        </div>

        <div class="mb-10">
          <strong class="mb-18p inline-block uppercase text-sm tracking-1.655p leading-1.64">USE OF PERSONAL INFORMATION</strong>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">We may use your information for these purposes:</p>

          <ul class="font-apparat-light font-normal text-sm mb-2.5 lg:mb-5">
            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to provide and improve our services to you;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to compile anonymous statistics, for example, website usage statistics;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to market our services;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to manage our relationship with you;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to match your skills, experience and education with specific job roles offered by us;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to fulfill our legal obligations, including anti money laundering requirements and Know Your Client, conflict, reputational and financial checks;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to provide you with personalized content;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to process and respond to enquiries;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to alert you to new features, special events, and service offerings; and</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">for other legitimate business purposes.</li>
          </ul>
        </div>

        <div class="mb-10">
          <strong class="mb-18p inline-block uppercase text-sm tracking-1.655p leading-1.64">LEGAL BASIS FOR OUR USE OF YOUR INFORMATION</strong>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">Our use of your information is limited to:</p>

          <ul class="font-apparat-light font-normal text-sm mb-2.5 lg:mb-5">
            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">purposes for which you have given us clear consent to process personal information for a specific purpose;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to perform contracts we are about to enter or have entered into with you;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">where the use of your personal information is necessary for our legitimate interest or the legitimate interest of a third party;</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">our legitimate interest to inform you about our business, services, and news; and</li>

            <li class="relative pl-6 before:absolute before:top-2.5 lg:before:top-3 before:left-3 before:w-[3px] lg:before:w-1 before:h-[3px] lg:before:h-1 before:bg-black before:rounded-full lg:text-lg lg:leading-1.39 lg:pl-7">to comply with legal or regulatory obligations.</li>
          </ul>
        </div>

        <div class="mb-10">
          <strong class="mb-18p inline-block uppercase text-sm tracking-1.655p leading-1.64">SHARING OF PERSONAL INFORMATION WITH OTHER ENTITIES</strong>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">To achieve the above purposes, your personal information may be communicated to authorized persons within Marathon Capital in charge of marketing, business development, client servicing, information technology, legal and compliance.</p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">We may occasionally be required to share your information with other Marathon Capital group companies or branches around the world and other third parties who provide services to us or on our behalf.</p>

          <p class="text-sm mb-5 lg:text-lg lg:leading-1.39">If you are based within the United Kingdom (“UK”) or the European Economic Area (the “EEA”), this may entail a transfer of your information from a location within the UK or the EEA to outside the UK or the EEA, or from outside the UK or the EEA to a location within the EEA or the UK. The level of information protection in countries outside the UK or EEA may be less than that offered within the UK or EEA. However, we have procedures in place to ensure the protection of your information and we have taken steps to ensure that all such entities keep your personal information confidential and secure and only use it for the purposes we have specified and have informed you of. The transfer of personal data to third party service providers outside of the UK and the EEA takes place on the basis of data protection adequacy decisions by the UK or the European Commission or via the implementation of EU data protection Standard Contractual Clauses. The safeguards we have taken include implementing the European Commission’s Standard Contractual Clauses for transfers of personal information between the UK or EEA and non-UK/EEA entities within Marathon Capital, which requires our non-UK/EEA members to protect personal information they process from the UK or the EEA in accordance with UK and European Union data protection laws. Our Standard Contractual Clauses can be provided on request. We have also implemented similar appropriate safeguards with our third-party service providers and partners and further details can be provided upon request.</p>
        </div>
      </div>
    </div>
  </div>

  {% include "_partials/nav-footer.twig" %}
{% endblock %}
